@use "../../../../styles/system/_shortcuts.scss" as *;

.Testimonials {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    background-color: var(--wText);
    overflow: hidden;
    color: var(--bText);
    // perspective: 1000px;
    // transform-style: preserve-3d;
    border-radius: 50px 50px 50px 50px;



    .Testimonials__Header {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        will-change: transform, opacity;
        gap: 2.5vh;

        .Testimonials__Header__container {
            display: flex;
            width: 100%;
            height: 100%;
            color: var(--bText);
            gap: 2.5rem;
            align-items: flex-end;
            justify-content: flex-start;

            p {
                margin: 0;
                font-size: 6rem;
                font-weight: 400;
                line-height: 1;
                font-family: "Switzer-light";
            }
        }

        .divider {
            width: 100%;
            height: 2px;
            background-color: var(--divider);
        }

    }

    .Testimonials__Carousel__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 95%;
        z-index: 1;
        transform-origin: center bottom;
        will-change: transform, opacity;
        gap: 5%;
        padding: 12.5% 5% 2.5% 5%;

        .Testimonials__Carousel__itemWrapper {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 35%;
            height: 100%;
            perspective: 1000px;
            background-color: var(--bgBlocks);
            border-radius: 50px 50px 0 50px;
            padding: 25px 35px 10px 35px;



            .devider {
                position: absolute;
                bottom: 25%;
                right: -15%;
                width: 60%;
                height: 2px;
                background-color: var(--divider);
            }

            .second-devider {
                width: 75%;
                right: 50%;
                bottom: -15%;
            }

            .Testimonials__Carousel__container__item {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                width: 100%;
                height: 100%;
                z-index: 0;
                flex-direction: column;
                gap: 2rem;
                transition: transform 0.3s ease-out;
                color: var(--wText);

                .Testimonials__Carousel__container__item__header {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: flex-end;
                    gap: 2rem;

                    p {
                        font-size: 1.3rem;
                        font-weight: 700;
                        margin: 0;
                        font-family: "Switzer";
                    }

                    .Testimonials__Carousel__container__item__header__controls {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.25rem;

                        .Testimonials__Carousel__container__item__header__controls__button {
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                            font-size: 1.3rem;
                            font-weight: 700;
                            font-family: "Switzer";

                            img {
                                background-color: transparent;
                                filter: invert(1);
                            }
                        }

                        p {
                            font-size: 2rem;
                            font-weight: 300;
                            margin: 0;
                            margin-bottom: 0.5rem;
                            line-height: 1;
                            font-family: "Switzer-light";
                        }
                    }
                }

                .Testimonials__Carousel__container__item__content {
                    display: flex;
                    width: 100%;

                    p {
                        font-size: 1.3rem;
                        font-weight: 300;
                        margin: 0;
                        font-family: "Switzer-light";
                    }
                }

                .Testimonials__Carousel__container__item__addInfo {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    width: 100%;

                    p {
                        font-size: 1rem;
                        margin: 0;
                        font-family: "Switzer";
                    }
                }
            }


            &:nth-of-type(2) {
                width: 60%;
                height: 50%;
                border-radius: 50px 50px 50px 0;

                .Testimonials__Carousel__container__item {
                    justify-content: flex-start;
                    align-items: flex-start;
                    height: 60%;
                }

                .Testimonials__Carousel__container__item__header {
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }
        }
    }

    .button__container {
        position: absolute;
        width: 25%;
        height: 15%;
        bottom: 15%;
        right: 5%;
        z-index: 70;

        .devider {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            width: 100%;
            background-color: var(--divider);
        }

        .button {
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            z-index: 70;
            will-change: transform;
            transform-origin: center right;

            .Round__button_container {
                width: 150px;
                height: 150px;
                background-color: var(--bgColor2);

                a {
                    p {
                        font-family: "Switzer";
                        line-height: 1.2;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}