@media (min-aspect-ratio: 1/1) {
    @media only screen and ( min-width: 1730px ) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 8rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 1598px) and (max-width: 1729px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 8rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 1420px) and (max-width: 1596px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 6rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 1260px) and (max-width: 1420px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 5rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 960px) and (max-width: 1240px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 5rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 701px ) and (max-width: 950px) and (min-height: 280px) and (max-height: 500px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 4rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 500px ) and (max-width: 700px) and (min-height: 200px) and (max-height: 380px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 3rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    @media only screen and (min-width: 1000px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 6rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 990px) and (min-height: 800px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 5rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 400px) and (max-width: 600px) and (min-height: 700px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 3rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 380px) and (max-width: 399px) and (min-height: 600px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 2.5rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 379px) and (min-height: 450px) {
        .GridTransition {
            width: 100vw;
            height: 200vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .grid__container{
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                overflow: hidden;
        
                .grid__transition {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            .sticky-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
        
                .grid__transition__sticky{
                    position: sticky;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
        
                    .grid__transition__sticky__text__container {
                        text-align: center;
                        span{
                            font-size: 2rem;
                            color: var(--wText);
                            font-family: "zodiak-light";
                            margin: 0;
                        }
                    }
                }
            }
        
        }
    }
}