// Styly pro stránku 
:root {
  --bgWhite: #fff;
  --bgPrimary: #BBB788;
  --bgBlack: #212222;
  --iconsPink: #FFA5A2;
  --iconsWhite: #fff;
  --iconsBlack: #212222;
  --iconsBlackFilter:
    brightness(0)
    saturate(100%)
    invert(11%)
    sepia(5%)
    saturate(285%)
    hue-rotate(24deg)
    brightness(94%)
    contrast(90%);
  --darkOlive: #747E62;
  --whiteText: #fff;
  --blackText: #212222;
  --pinkBg: #FFA5A2;
  --orangeGradient: #ff7000bf;
  --shadows: #21222299;
  --whiteBoarder: #ffffff99;
  --Placeholder: #ffffff6a;
  --disabled: #21222230;
  --danger: #ae0202;
  --handle: #212222cc;
}
