// Styly pro stránku 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bgColor: #063F66;
  --bgColor2: #050A10;
  --bgBlocks: rgb(5, 10, 16, 0.9);
  --hColor: #4BDADC;
  --hColor2: #964BF2;
  --wText: #fff;
  --bText: #050A10;
  --blur: rgba(117, 171, 192, 0.2);
  --divider: #5E758D;
}