@use "../../../styles/system/_shortcuts.scss" as *;

.Preloader__Main {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1009;
    backdrop-filter: blur(5px);
    background-color: transparent;

    .Preloader__text {
        color: var(--wText);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 30%;
        gap: 0.05rem;
        z-index: 10;

        h1 {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: fit-content;

            span {
                color: var(--wText);
                font-weight: 300;
                font-style: normal;
                margin: 0;
                font-size: 4rem;
                text-transform: uppercase;
                font-family: 'Switzer', sans-serif;
            }
        }

        p {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: fit-content;

            span {
                color: var(--wText);
                font-weight: 300;
                font-style: normal;
                margin: 0;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-family: 'Switzer', sans-serif;
            }
        }
    }

}