@use "../../../../styles/system/_shortcuts.scss" as *;

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bgColor2);
    pointer-events: none;
    z-index: 155;
}