@media (min-aspect-ratio: 1/1) {
    @media only screen and ( min-width: 1730px ) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 25vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 40%;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .data__item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 5rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 5rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 5rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 50%;
                        color: var(--wText);
                        font-size: 1.3rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 65%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 8rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 50%;
                        font-size: 1.3rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 2.5rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 1598px) and (max-width: 1729px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 25vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 40%;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .data__item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 5rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 5rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 5rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 50%;
                        color: var(--wText);
                        font-size: 1.3rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 65%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 8rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 50%;
                        font-size: 1.3rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 2.5rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 1420px) and (max-width: 1596px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 25vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 40%;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .data__item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 4rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 4rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 4rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 50%;
                        color: var(--wText);
                        font-size: 1.1rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 65%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 5rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 50%;
                        font-size: 1.1rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 2rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 1260px) and (max-width: 1420px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 25vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 40%;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .data__item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 3rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 50%;
                        color: var(--wText);
                        font-size: 1.1rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 65%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 5rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 50%;
                        font-size: 1.1rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 2rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 960px) and (max-width: 1240px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 25vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 30%;
                height: 90%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .data__item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 3rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 70%;
                        color: var(--wText);
                        font-size: 1.1rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 55%;
                height: 90%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 5rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 70%;
                        font-size: 1.1rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 2rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 701px ) and (max-width: 950px) and (min-height: 280px) and (max-height: 500px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 25vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 30%;
                height: 90%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .data__item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 2rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 2rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 2rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 100%;
                        color: var(--wText);
                        font-size: 0.9rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 55%;
                height: 90%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 3rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 70%;
                        font-size: 0.9rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 1.5rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 500px ) and (max-width: 700px) and (min-height: 200px) and (max-height: 380px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 25vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 30%;
                height: 90%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .data__item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 1.8rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 1.8rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 1.8rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 100%;
                        color: var(--wText);
                        font-size: 0.8rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 55%;
                height: 90%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 2rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 70%;
                        font-size: 0.8rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 1.3rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    @media only screen and (min-width: 1000px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 30vh 5vw 25vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 40%;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .data__item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 4rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 4rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 4rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 80%;
                        color: var(--wText);
                        font-size: 1.1rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 65%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 5rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 60%;
                        font-size: 1.1rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 2rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 990px) and (min-height: 800px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 30vh 5vw 20vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 40%;
                height: 100%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .data__item{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 3rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 100%;
                        color: var(--wText);
                        font-size: 1.1rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 65%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 3rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 90%;
                        font-size: 1.1rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 1.8rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 400px) and (max-width: 600px) and (min-height: 700px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 20vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: wrap;
                .data__item{
                    width: 50%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 3rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 100%;
                        color: var(--wText);
                        font-size: 1.1rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 3rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 90%;
                        font-size: 1.1rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 1.5rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 380px) and (max-width: 399px) and (min-height: 600px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 20vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            gap: 10vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: wrap;
                .data__item{
                    width: 50%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 3rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 3rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 100%;
                        color: var(--wText);
                        font-size: 1.1rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 3rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 90%;
                        font-size: 1.1rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 1.5rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 379px) and (min-height: 450px) {
        .Benefits{
            width: 100vw;
            height: 100vh;
            padding: 20vh 5vw 10vh 5vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            gap: 2.5vw;
            overflow: hidden;
            
        
            .data__wrapperB{
                z-index: 3;
                display: flex;
                width: 100%;
                height: 40%;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: wrap;
                .data__item{
                    width: 50%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
            
                    .number__wrapper {
                        width: 40%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
            
                        h1{
                            font-size: 2rem;
                            font-weight: 300;
                            margin: 0;
                            color: var(--hColor);
                            font-family: "Zodiak-light";
                        }
                        
                        .currency {
                            color: var(--hColor);
                            font-size: 2rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                        .suffix{
                            color: var(--hColor);
                            font-size: 2rem;
                            font-weight: 300;
                            margin-left: 2px;
                            font-family: "Zodiak-light";

                        }
                    }
            
                    p{
                        text-align: right;
                        width: 100%;
                        color: var(--wText);
                        font-size: 1rem;
                        font-weight: 300;
                        font-family: "Zodiak-light";

                    }
                }
            }
            .text__container{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column-reverse;
        
                .header{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    color: var(--wText);
        
                    h3{
                        font-size: 2.5rem;
                        margin: 0;
                        font-family: "Zodiak-light";     
                    }
                    p{
                        width: 90%;
                        font-size: 1rem;
                        margin: 0;
                        padding-top: 1rem;
                        font-family: "Zodiak-light";
                    }
                }
        
                .subtext{
                    width: 100%;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
        
                    .subtext__container{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

            
                        p{
                            text-align: right;
                            margin: 0;
                            span{
                                font-size: 1.1rem;
                                font-family: "Switzer-light";
                            }
                        }
                    }
        
                }
    
        
            }
            .divider{
                position: absolute;
                bottom: 5%;
                right: 0;
                width: 95%;
                height: 2px;
                background-color: var(--divider);
            }
        }
    }
}